#root {
  max-width: 560px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  margin: 0;
  padding: 16px;
}

select,
label,
textarea {
  display: block;
}

label,
details {
  margin-bottom: 1rem;
}

details[open] {
  border: 1px dashed black;
}

.book-page-order label:not(:last-child) {
  margin-bottom: auto;
}

li {
  margin-bottom: 1rem;
}

.instructions {
  img {
    max-width: calc(100% - 32px);
    border: 8px inset rgba(0, 0, 0, 0.25);
  }

  table {
    border: 1px solid rgba(0, 0, 0, 0.25);
  }

  thead td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  td {
    padding: 4px 8px;
  }

  .no-prefix {
    opacity: 0.5;
  }
}

code {
  background-color: #ffc62680;
}

.advanced-settings {
  summary {
    margin-bottom: 1rem;
  }
}

.output {
  white-space: pre-wrap;

  .no-name {
    color: #e18700;
    border-bottom: 1px dashed #e18700;

    &::after {
      /* this inserts the "?" without it appearing when the user copies the text */
      content: attr(data-comments);
    }
  }
}

.output,
textarea {
  width: 100%;
  height: 248px;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  font-family: monospace;
  padding: 2px;
  color: black;
  resize: vertical;
  overflow: auto;
}
