#root {
  max-width: 560px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  margin: 0;
  padding: 16px;
}

select,
label,
textarea {
  display: block;
}

label,
details {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 1rem;
}

.instructions {
  img {
    max-width: 100%;
    border: 8px inset rgba(0, 0, 0, 0.25);
  }
}
